* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
i {
  pointer-events: none;
}
body {
  background: linear-gradient(90deg, rgb(181, 252, 134), rgb(40, 189, 226));
}
header {
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(0, 0, 0);
  margin-bottom: 4rem;
}
form {
  width: 100vw;
  display: flex;
  justify-content: center;
  margin-bottom: 4rem;
  input,
  button {
    padding: 0.25rem 0.1rem;
    border-radius: 0.5rem;
    border: none;
    border: 1.8px solid rgb(0, 0, 0);
    margin: 0rem 0.2rem;
    font-size: 1.3rem;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type="number"] {
    width: 60px;
    text-align: center;
  }
  button {
    padding: 0.5rem 0.8rem;
    cursor: pointer;
    transition: all 0.2s ease;
    &:hover {
      //   border: 1.8px solid rgba(0, 4, 255, 0.8);
      //   color: rgba(0, 4, 255, 0.8);
      background-color: #ced4da;
      box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    }
  }
}
div.sort {
  display: flex;
  justify-content: center;
  margin-bottom: 4rem;
  transition: all 0.2s ease;
  button {
    padding: 0.5rem 0.75rem;
    font-size: 1.5rem;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    color: rgb(0, 0, 0);
    width: 25vw;
    height: 9vh;
    border-radius: 1rem;
    border: none;
    border: 1.8px solid rgb(0, 0, 0);
    transition: all 0.2s ease;
    cursor: pointer;
    &:hover {
      //   transform: scale(1.02);
      //   border: 1.8px solid rgba(0, 4, 255, 0.8);
      //   box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
      background-color: #ced4da;
    }
  }
}
section.todoList {
  display: flex;
  flex-direction: column;
  align-items: center;
  div.todoDiv {
    width: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
    p {
      width: 30%;
      background-color: white;
      text-align: center;
      font-size: 1.7rem;
      padding: 0.5rem 0.75rem;
      border-radius: 1rem;
    }
    // .todo-text {
    // }
    // .todo-time {
    // }
    button {
      font-size: 2rem;
      padding: 0.5rem 0.75rem;
      border-radius: 50%;
      border: none;
      cursor: pointer;
      transition: all 0.2s ease;
    }
    .check {
      background-color: rgb(0, 255, 0);
      color: white;
      &:hover {
        background-color: rgb(0, 180, 0);
        color: white;
      }
    }
    .trash {
      background-color: red;
      color: white;
      &:hover {
        background-color: rgb(180, 0, 0);
        color: white;
      }
    }
  }
}
@keyframes scaleBig {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes scaleSmall {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}

.done {
  opacity: 0.7;
  text-decoration: line-through;
}
